body {
  min-width: 550px;
  min-height: 400px;
  background-color: transparent;
}

.frame {
  white-space: nowrap;
  text-align: center;
  height: 380px;
  margin-right: 15px;
}

.frame .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.frame .screenshot {
  display: inline-block !important;
  background: #3A6F9A;
  vertical-align: middle;
  max-height: 300px;
}

.list {
  padding-top: 10px;
  margin-top: 4px;
  height: 380px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list .heading {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  padding-left: 5px;
}

.list .item .ui.avatar.image {
  display: inline-block;
  padding-right: 0 !important;
}

.list .item .content {
  display: inline-block !important;
}

.ui.grid > .row.top {
  padding-bottom: 0;
}

.ui.grid > .row.bottom {
  padding-top: 0;
  padding-bottom: 0;
}

.ui.grid > .row > .ten.wide.column {
  padding-left: 0;
}