body {
  min-width: 550px;
  min-height: 400px;
}

input {
  border-radius: 0!important;
  border-top: 0!important;
  border-left: 0!important;
  border-right: 0!important;
}

.frame {
  white-space: nowrap;
  text-align: center;
  height: 380px;
  margin-right: 15px;
}

.frame .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.frame .screenshot {
  display: inline-block !important;
  background: #3A6F9A;
  vertical-align: middle;
  max-height: 300px;
}

.ui.list {
  margin-top: 4px;
  height: 380px;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid rgba(34, 36, 38, 0.14902)
}

.ui.list .heading {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  padding-left: 5px;
}

.ui.list .item {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0.75em !important;
  padding-bottom: 0.75em !important;
}

.ui.list .item .ui.avatar.image {
  position: absolute;
  padding-right: 0 !important;
}

.ui.list .item .content {
  display: inline-block !important;
  padding-left: 35px !important;
  word-break: break-word;
}

.ui.list .item.selected {
  background: rgba(0,0,0,.05);
  color: rgba(0,0,0,.9);
}

.ui.grid > .row.top {
  padding-bottom: 0;
}

.ui.grid > .row.bottom {
  padding-top: 0;
  padding-bottom: 0;
}

.ui.grid > .row > .nine.wide.column {
  padding-left: 0;
}

.screenshot-not-available {
  display: inline-block;
  white-space: pre-wrap;
}
